<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Index -- {{ PROJECT_NAME }} {{ PROJECT_VERSION }}</title>
</head>

<body>

</body>
</html>
