<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Index -- {{PROJECT_NAME}} {{PROJECT_VERSION_FULL}}</title>
    <link rel="stylesheet" href="{{{css_relative_path}}}/style.css" type="text/css"/>
</head>

<body>
<h1><a href="{{{relative_path}}}/index.html">{{PROJECT_NAME}}</a></h1>

<p>Generated @ {{generated_at}} by <a href="{{{PROJECT_HOMEPAGE_URL}}}">{{PROJECT_NAME}}</a> v{{PROJECT_VERSION_FULL}}</p>

<table class="list">
    <thead>
    <tr>
        <th class="left">Year</th>
        <th class="right">Revenue</th>
        <th class="right">Expense</th>
        <th class="right">Balance</th>
        <th class="right">Balance &#8721;</th>
        {{#has_categories}}
            <th colspan="{{{category_count}}}">{{{category_count}}} Categories</th>
        {{/has_categories}}
        {{#has_epics}}
            <th colspan="{{{epic_count}}}">{{{epic_count}}} Epics</th>
        {{/has_epics}}
    </tr>
    <tr>
        <th colspan="5">&nbsp;</th>
        {{#has_categories}}
            {{#categories}}
                <th class="right">{{{title}}}</th>
            {{/categories}}
        {{/has_categories}}
        {{#has_epics}}
            {{#epics}}
                <th class="right">{{{title}}}</th>
            {{/epics}}
        {{/has_epics}}
    </tr>
    </thead>

    <tbody>
    {{#entries}}
        <tr>
            <td class="left"><a href="year/{{{year}}}/index.html">{{year}}</a></td>
            <td class="right">{{revenue}}</td>
            <td class="right red">{{expense}}</td>
            <td class="right {{{balance_class}}}">{{balance}}</td>
            <td class="right {{{balance_sum_class}}}">{{balance_sum}}</td>
            {{#has_categories}}
                {{#year_categories}}
                    <td class="right {{{balance_class}}}">{{{balance}}}</td>
                {{/year_categories}}
            {{/has_categories}}
            {{#has_epics}}
                {{#year_epics}}
                    <td class="right {{{balance_class}}}" bgcolor="{{{bg_color}}}">{{{balance}}}</td>
                {{/year_epics}}
            {{/has_epics}}
        </tr>
    {{/entries}}
    </tbody>

    <tfoot>
    {{#total}}
        <tr>
            <td class="left">{{label}}</td>
            <td class="right">{{revenue}}</td>
            <td class="right red">{{expense}}</td>
            <td class="right {{{balance_class}}}">{{balance}}</td>
            <td>&nbsp;</td>
            {{#has_categories}}
                {{#categories}}
                    <td class="right {{{balance_class}}}">{{balance}}</td>
                {{/categories}}
            {{/has_categories}}
            {{#has_epics}}
                {{#epics}}
                    <td class="right {{{balance_class}}}">{{{balance}}}</td>
                {{/epics}}
            {{/has_epics}}
        </tr>
    {{/total}}
    </tfoot>
</table>

{{#has_gnuplot_support}}
    <p><img src="total.png"></p>
{{/has_gnuplot_support}}
{{^has_gnuplot_support}}
    <!-- NO GNUPLOT SUPPORT //-->
{{/has_gnuplot_support}}

</body>
</html>
