<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{{month}} {{year}} -- {{PROJECT_NAME}} {{PROJECT_VERSION_FULL}}</title>
    <link rel="stylesheet" href="{{{css_relative_path}}}/style.css" type="text/css"/>
</head>

<body>
<h1><a href="{{{relative_path}}}/index.html">{{PROJECT_NAME}}</a></h1>

<p>Generated @ {{generated_at}} by <a href="{{{PROJECT_HOMEPAGE_URL}}}">{{PROJECT_NAME}}</a> v{{PROJECT_VERSION_FULL}} from <code>{{file_name}}</code></p>

<h2>Month: {{month}} <a href="./index.html">{{year}}</a></h2>

<table class="list">
    <thead>
    <tr>
        <th class="left">#</th>
        <th class="left first_column">Date</th>
        <th class="left primary_column">Title</th>
        <th class="right">Revenue</th>
        <th class="right">Expense</th>
        <th class="right">Balance</th>
        <th class="right">Category</th>
        {{#show_epics}}
            <th class="right">Epic</th>
        {{/show_epics}}
        <th class="left">Comment</th>
    </tr>
    </thead>

    <tbody>
    {{#entries}}
        <tr>
            <td valign="top" class="left">{{no}}</td>
            <td valign="top" class="left">{{date}}</td>
            <td valign="top" class="left">{{title}}</td>
            <td valign="top" class="right">{{revenue}}</td>
            <td valign="top" class="right red">{{expense}}</td>
            <td valign="top" class="right {{balance_class}}">{{balance}}</td>
            <td valign="top" class="right">{{category}}</td>
            {{#show_epics}}
                <td valign="top" class="right">{{epic}}</td>
            {{/show_epics}}
            <td valign="top" class="left">{{comment}}</td>
        </tr>
    {{/entries}}
    </tbody>

    <tfoot>
    {{#total}}
        <tr>
            <th colspan="2">&nbsp;</th>
            <th class="left">{{label}}</th>
            <th class="right">{{revenue}}</th>
            <th class="right red">{{expense}}</th>
            <th class="right {{balance_class}}">{{balance}}</th>
            {{#show_epics}}
                <th colspan="3">&nbsp;</th>
            {{/show_epics}}
            {{^show_epics}}
                <th colspan="2">&nbsp;</th>
            {{/show_epics}}
        </tr>
    {{/total}}
    </tfoot>
</table>

</body>
</html>
