<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Year {{year}} -- {{PROJECT_NAME}} {{PROJECT_VERSION}}</title>
    <link rel="stylesheet" href="{{{css_relative_path}}}/style.css" type="text/css"/>
</head>

<body>
<h1><a href="{{{relative_path}}}/index.html">{{PROJECT_NAME}}</a></h1>

<p>Generated @ {{generated_at}} by <a href="{{{PROJECT_HOMEPAGE_URL}}}">{{PROJECT_NAME}}</a> v{{PROJECT_VERSION}}</p>

<h2>Year: {{year}}</h2>

<table class="list">
    <thead>
    <tr>
        <th class="left">Month</th>
        <th class="right">Revenue</th>
        <th class="right">Expense</th>
        <th class="right">Balance</th>
        <th colspan="{{{category_count}}}">{{{category_count}}} Categories</th>
    </tr>
    <tr>
        <th colspan="4">&nbsp;</th>
        {{#categories}}
            <th class="right">{{name}}</th>
        {{/categories}}
    </tr>
    </thead>

    <tbody>
        {{#entries}}
            <tr>
                <td class="left"><a href="{{file_name}}">{{month_name}}</a></td>
                <td class="right">{{revenue}}</td>
                <td class="right red">{{expense}}</td>
                <td class="right {{{balance_class}}}">{{balance}}</td>

                {{#month_categories}}
                    <td class="right {{balance_class}}">{{{balance}}}</td>
                {{/month_categories}}
            </tr>
        {{/entries}}
    </tbody>

    <tfoot>
    {{#total}}
        <tr>
            <td class="left">{{year}}</td>
            <td class="right">{{revenue}}</td>
            <td class="right red">{{expense}}</td>
            <td class="right {{{balance_class}}}">{{balance}}</td>

            {{#month_categories}}
                <td class="right {{balance_class}}">{{balance}}</td>
            {{/month_categories}}
        </tr>
    {{/total}}
    </tfoot>
</table>
</body>
</html>
